{% extends 'myinfo/layout.html' %}
{% load static %}


{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-2">Achivements</h2>
    <div class="card my-3 mx-3">
        <div class="card-header">
          <h6>Comptitions / Programs</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Intermediate Drawing Grade Examination 2015 - 'C' Grade</li>
            <li class="list-group-item">Elementart Grade Drawing Examination 2014 -'B' Grade</li>
          <li class="list-group-item">Scouts and Guids 2016 (Team Leader) - 'A' Grade</li>
        </ul>
      </div>
    </div>
</div>



{% endblock %}