{% extends 'myinfo/layout.html' %}
{% load static %}


{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-2">Education</h2>
    <div class="card my-3">
        <div class="card-header">
          Graduation
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Bachler in Information Technology (Pursuing) </p>
            <footer class="blockquote-footer">From <cite title="Source Title">V. G. Vaze College</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-header">
          Higher Secondary School (HSC)
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Commerce Stream (2018)</p>
            <footer class="blockquote-footer">From <cite title="Source Title">V. K. krishna Menon College</cite></footer>
          </blockquote>
        </div>
      </div>

</div>



{% endblock %}