{% extends 'myinfo/layout.html' %}
{% load static %}

{% block script %}

{% endblock %}
{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-2">Frameworks / Technologies</h2>
    <div class="card my-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">C/C++</li>
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Django</li>
            <li class="list-group-item">Flask</li>
            <li class="list-group-item">Wordpress</li>
        </ul>
    </div>
</div>


{% endblock %}